.label{
    -fx-alignment: top-left;
    -fx-padding: 20px;
    -fx-background-color: rgba(38, 147, 255, 0.45);
    -fx-font-size: 15px;
    -fx-font-family:"Comic Sans MS";
    /*-fx-arc-height: 160px;*/
    /*-fx-arc-width: 120px;*/
    -fx-pref-height: 56px;
    -fx-pref-width: 346px;
    -fx-vgrow: "ALWAYS";
    -fx-max-width: 1200px;
}


#shiny{

}
