.label{
    -fx-alignment: top-left;
    -fx-padding: 20px;
    /*-fx-background-color: rebeccapurple;*/
    -fx-background-color: rgba(252, 77, 113, 0.45);
    -fx-font-size: 10px;
    -fx-font-family:"Comic Sans MS";
    /*-fx-pref-height: 30px;*/
    /*-fx-pref-width: 250px;*/
    /*-fx-wrap-text: true;*/
    -fx-vgrow: "ALWAYS";
    -fx-max-width: 350px;
    -fx-background-radius: 30px;



}