@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.task_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.task_form li{
    padding:12px;
    position:relative;
}

.task_form li:first-child, .task_form li:last-child {
    border-bottom:1px solid #777;
}
.title{
    padding:12px 12px 0px;
}
.labelbold {
    font-weight: bold;
    font-size: large;
    padding:12px 12px 0px;
    border-bottom:1px solid #777;
    width:750px;
}

.labelboldbutton {
    border: 0px;
    padding: 0px;
    float: right;
    background: rgba(255, 194, 56, 0);
    color: #f83a0c;
}
.labelboldbutton:hover {
    border: 0px;
    padding: 0px;
    float: right;
    background: rgba(255, 194, 56, 0);
    color: rgba(177, 172, 172, 0.69);
}

.labelbold button img {
    vertical-align:middle
}



.form{
    border: 1px solid #2d2d2d;
    background: rgba(255, 194, 56, 0.3)
}


.size_block label {
    font-weight: 600;
    font-size: 1em;
}
.size_block label span {
    font-weight: normal;
    font-size: 1em;
}


.description {
    font-weight: bold;
    font-size: large;
    padding:12px 12px 0px;
    border-bottom:1px solid #777;
    width:750px;
}
.navlabel{
    padding:12px 12px 10px 0px;
}

.underline {

    padding:12px;
    font-weight: normal;
    /*margin:12px auto;*/
    width:750px;
    word-break:break-word;
    white-space: normal;
    border-bottom:1px solid #777777;

}   

.size_block {
    column-count: 2;
    width:750px;
}

.size_block label {
    padding:12px;
    display: block;
}


.commentform{
    border: 1px solid #2d2d2d;
    width: 471px;
    height:98px;
    background: rgba(255, 0, 0, 0.3);
    margin-top: 2px;
    margin-left: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.headercomment {
    font-weight: bold;
    font-size: large;
    padding:12px 12px 0px;
    width: 472px;
}


.text-area-form{
    height:50px;
    width: 470px;
    background: rgb(226, 226, 226);
    resize: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
}

.send {
    /* Сбрасываем дефолтные стили */
    float: right;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    /* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
    font-family: Roboto;
    /* Тут можно поэкспериментировать */

    border-radius: 100px;
    color: #ffffff;
    padding:8px 6px;
}
.send {
    margin-right: 4px;
    margin-bottom: 6px;
}
.send {
    margin-left: 6px;
}
.send{
    background: #9c1818;
}

.send:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.send:hover {
    background: #ff0404;
}

.send:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.send:active {
    background: #ff0000;
}


.select {
    position: relative;
    min-width: 70px;
}
.select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}
.select select {
    /*-webkit-appearance: none;*/
    padding: 5px 15px 5px 5px;
    margin-left: 2px;
    /*width: 100%;*/
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}
.select select:required:invalid {
    color: #5a667f;
}
.select select option {
    color: #223254;
}
.select select option[value=""][disabled] {
    display: none;
}
.select select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
    stroke: #07f;
}
.select sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

