.task_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.task_form li{
    padding:12px;
    position:relative;
}

.task_form li:first-child, .task_form li:last-child {
    border-bottom:1px solid #777;
}
.title{
    padding:12px 12px 0px;
}
.labelbold {
    font-weight: bold;
    font-size: large;
    padding:12px 12px 0px;
    border-bottom:1px solid #777;
    width:750px;

}

.form{
    border: 1px solid #2d2d2d;

    background: rgba(255, 194, 56, 0.3)
}


.size_block label {
    font-weight: 600;
    font-size: 1em;
}
.size_block label span {
    font-weight: normal;
    font-size: 1em;
}

.description {
    font-weight: bold;
    font-size: large;
    padding:12px 12px 0px;
    border-bottom:1px solid #777;
    width:750px;
}

.underline {

    padding:12px;

    /*margin:12px auto;*/
    width:750px;
    word-break:break-word;
    white-space: normal;
    border-bottom:1px solid #777;

}

.size_block {
    column-count: 2;
    width:750px;
}

.size_block label {
    padding:12px;
    display: block;
}